.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-nav-item {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

/* .App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
