.App {
  text-align: center;
  font-family: 'IM Fell English SC', serif;
}

/* h1 {
  color: #C6A024;
  font-size: 65px;
  text-shadow:
		-10px -3px 0 #000,
		1px -1px 0 #000,
		-10px 3px 0 #000,
    1px 1px 0 #000;
    text-shadow: 3px 3px 4px linen;
}

.frotocard {
  border: 0;
  padding: 55px;
  width: 35%;
  background-image: url(http://sfwallpaper.com/images/lord-of-the-rings-wallpaper-download-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem auto;
  font-size: 25px;
  border: 5px solid darkolivegreen;
  cursor: pointer;
  color: #151D0E;
  box-shadow: 8px 6px 9px #E3EB99;
}

.title {
  margin-top: 25px;
  font-weight: bold;
}

.contents {
  font-size: 20px;
  margin-top: 5px;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
