body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: cornflowerblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.userCont {
margin: 15px auto 15px auto;
}

.individualUser {
  background: white;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto 25px auto;
}

.postsContainer {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  flex-direction: column;
}

p {
  display: flex;
  margin: 0;
  margin-bottom: 5px;
}
