.allUsersWrapper {
  /* margin and width to offset the navbar */
  margin-left: 4rem;
  color: white;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.singleUserCard {
  color: #000000;
  background: #ffffff;
  border: 1px solid #8b9c9d;
  margin: 1rem;
  padding: 1rem;
  width: 180px;
  height: 180px;
  text-decoration: none;
  /* word-break: break-word; */
}

.singleUserCard h2 {
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.singleUserCard p {
  padding-top: 0.5rem;
}

.noteDescription {
  border-top: 1px solid #000000;
  line-height: 2rem;
}
