<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercedes Servicing, Repairs &amp; Maintenance Services Birmingham - Dey Merc Specialist</title>
  <meta name="title" content="Mercedes service and repairs specialist Birmingham, West Midlands" />
  <meta name="description" content="Trusted by many for Mercedes repair and servicing for Mercedes owners in Birmingham and West Midlands area." />
  <meta name="keywords" content="mercedes service birmingham,mercedes repairs Birmingham,mercedes servicing birmingham,mercedes,repairs,service,repair,servicing,independent,garage,mechanic" />
  <link href="css/layout.css" rel="stylesheet" type="text/css" />
  <link rel="alternate" href="http://www.deymercspecialist.com" hreflang="en-GB" />
  <link rel="author" href="https://plus.google.com/+DeymercspecialistUK" />
  <link href="https://plus.google.com/+DeymercspecialistUK" rel="publisher" />
  <script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-65364166-1', 'auto');
    ga('send', 'pageview');

  </script>
  <style type="text/css">
    body,
    td,
    th {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      color: #000;
    }

    body {
      background-color: white;
      text-align: left;
      border: 0px;
      margin: 0px;
      background-position: center;
    }
  </style>
  <script type="text/javascript">
    function MM_swapImgRestore() { //v3.0
      var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
    }
    function MM_preloadImages() { //v3.0
      var d = document; if (d.images) {
        if (!d.MM_p) d.MM_p = new Array();
        var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
          if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
      }
    }

    function MM_findObj(n, d) { //v4.01
      var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
        d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
      }
      if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
      for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
      if (!x && d.getElementById) x = d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
      var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2); i += 3)
        if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
    }
  </script>
</head>

<body>

  <div id="bgleftright">
    <div id="wrapper">
      <div id="menu"><img src="images/buttons/whowearelit.png" /><a href="resource/diagnostics.html" onmouseout="MM_swapImgRestore()"
          onmouseover="MM_swapImage('DiagnosticsButton1','','images/buttons/diagnosticslit.png',1)"><img src="images/buttons/diagnostics.png"
            alt="Diagnostics" name="DiagnosticsButton1" border="0" id="DiagnosticsButton1" /></a><a href="resource/contractwork.html"
          onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('ContractButton1','','images/buttons/contractworklit.png',1)"><img
            src="images/buttons/contractwork.png" alt="Contract Work" name="ContractButton1" border="0" id="ContractButton1" /></a><a
          href="resource/bodywork.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('BodyWorkButton1','','images/buttons/bodyworklit.png',1)"><img
            src="images/buttons/bodywork.png" alt="Body Work" name="BodyWorkButton1" border="0" id="BodyWorkButton1" /></a><a
          href="resource/lcvvans.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('LCV Vans Button 1','','images/buttons/lcvvanslit.png',1)"><img
            src="images/buttons/lcvvans.png" alt="LCVVNS " name="LCV Vans Button 1" border="0" id="LCV Vans Button 1" /></a><a
          href="resource/howtofindus.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Find Us Button','','images/buttons/howtofinduslit.png',1)"><img
            src="images/buttons/howtofindus.png" alt="How To Find US" name="Find Us Button" border="0" id="FindUs1" /></a><a
          href="resource/smartrepairs.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Smart Repairs Button','','images/buttons/smartrepairslit.png',1)"><img
            src="images/buttons/smartrepairs.png" alt="Smart Repairs" name="Smart Repairs Button" border="0" id="SmartRepairs1" /></a></div>



      <div id="MENU-RESPONSIVE-CONTAINER">
        <div id='Menu-button' class='inactive'>
          <div id='Menu-button-text'>Menu</div>
          <div id='MENU-RESPONSIVE'>
            <a href="index.html">
              <div>WHO WE ARE</div>
            </a>
            <a href="resource/diagnostics.html">
              <div>DIAGNOSTICS</div>
            </a>
            <a href="resource/contractwork.html">
              <div>CONTRACT WORK</div>
            </a>
            <a href="resource/bodywork.html">
              <div>BODY WORK</div>
            </a>
            <a href="resource/lcvvans.html">
              <div>LCV / VANS</div>
            </a>
            <a href="resource/howtofindus.html">
              <div>HOW TO FIND US</div>
            </a>
            <a href="resource/smartrepairs.html">
              <div>SMART REPAIRS</div>
            </a>
            <a href="resource/services.html">
              <div>SERVICES</div>
            </a>
            <a href="resource/livehelp.html">
              <div>LIVE HELP</div>
            </a>
            <a href="resource/contactus.html">
              <div>CONTACT US</div>
            </a>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        document.getElementById("Menu-button").onclick = function () {
          var d = document.getElementById("Menu-button").getAttribute("class");
          if (d == "inactive") {
            document.getElementById("Menu-button").setAttribute("class", "active");
          };
          if (d == "active") {
            document.getElementById("Menu-button").setAttribute("class", "inactive");
          };
        };
      </script>



      <map name="MapEmail"><area alt="Email Us" coords="415,336,784,203" href="resource/contactus.html" shape="rect" /></map>

      <img border="0" height="516" id="Image4" src="images/whowearehead.jpg" usemap="#Map" width="1180" />
      <img border="0" id="Image4Res" src="images/whowearehead.jpg" />
      <div id='Contac-Log'>
        <a href="http://www.deymercspecialist.com/"><img id="ImageLogo" src="images/Responsive/logo.jpg" /></a>
        <a href="http://www.deymercspecialist.com/resource/contactus.html"><img id="ImageContac" src="images/Responsive/contact.jpg" /></a>
      </div>
      <map name="Map"><area alt="Email Us" coords="626,57,1022,36" href="resource/contactus.html" shape="rect" /> <area
          coords="1119,102,1160,102,1182,138,1163,176,1121,176,1100,139" href="resource/contactus.html" onMouseOut="MM_swapImgRestore()"
          onMouseOver="MM_swapImage('Image4','','images/contactus11.jpg',1)" shape="poly" /><area coords="974,211,926,125,834,125,788,210,834,296,927,296,946,314,994,399,1085,398,1133,313,1086,228,991,227"
          href="resource/services.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','images/services11.jpg',1)"
          shape="poly" /><area coords="70,418,126,417,154,467,125,517,70,517,44,465" href="resource/howtofindus.html"
          onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','images/howtofindus11.jpg',1)" shape="poly" /><area
          coords="173,361,229,360,257,410,228,460,173,460,147,408" href="resource/lcvvans.html" onMouseOut="MM_swapImgRestore()"
          onMouseOver="MM_swapImage('Image4','','images/lcvvans11.jpg',1)" shape="poly" /><area coords="73,301,129,300,157,350,128,400,73,400,47,348"
          href="resource/bodywork.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','images/bodywork11.jpg',1)"
          shape="poly" /><area coords="173,243,229,242,257,292,228,342,173,342,147,290" href="resource/contractwork.html"
          onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','images/contractwork11.jpg',1)" shape="poly" />
        <area coords="74,180,126,179,153,227,126,276,73,277,48,227" href="resource/diagnostics.html" onMouseOut="MM_swapImgRestore()"
          onMouseOver="MM_swapImage('Image4','','images/diagnostics11.jpg',1)" shape="poly" /> <area coords="834,323,926,323,973,409,927,494,834,494,787,408"
          href="resource/smartrepairs.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','images/smartrepairs11.jpg',1)"
          shape="poly" /> <area coords="1049,60,1089,60,1112,96,1093,134,1051,134,1030,97" href="resource/livehelp.html"
          onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','images/livehelp11.jpg',1)" shape="poly" /></map>
      <div id="marginl"></div>
      <div id="marginr"></div><img id='FadeImg' src="images/fade12.png" />

      <div id="pagetext">

        <div style="padding-left:33px;color: #444444">


          <div style="color:#1dbee6">
            <h1>Mercedes Servicing and Repairs</h1>
          </div>


          <p>Dey Merc Specialist - Trusted by many for Mercedes repair and service based in Birmingham, U.K. Call now
            for a quote. We are a leading independent Mercedes specialist for Birmingham and the West Midlands. We
            carry out all servicing and major repairs to all mercedes and light commercial vehicles. </p>

          <p><a href="https://bookmygarage.com/garage/deymercspecialist/b661ns/">Click Here To Book Online</a> </p>

          <p>We have a fully equipped work shop with experienced technicians. We are very competitive in our market.
            Our services available to you include Free Collection and Delivery, Free mini valet on all services and
            Free diagnostics subject to terms and conditions.</p>

          <p>With clients from around the U.K travelling here to take advantage of our services, this says everything
            you need to know about the standard of quality we offer.</p>
        </div>

        <div style="color:#1dbee6; text-align:center;">
          <p>*We are now able to service all new cars and log in to Mercedes Benz Digital Service Database</p>

          <p>Call us today for a quotation on 0121 565 5116</p>
        </div>
      </div>

      <img style="position:static; float:right;" id='Arrow-Left-IMG' height="252" src="images/DEYad.gif" width="307" /><img
        id='Arrow-Left' style="float:right;" src="images/gifleft.png" />
      <br class='BrEak' /><br class='BrEak' /><br class='BrEak' /><br class='BrEak' /><br class='BrEak' /><br class='BrEak' /><br
        class='BrEak' /><br class='BrEak' /><br class='BrEak' /><br class='BrEak' /><br class='BrEak' /><br class='BrEak' /><br
        class='BrEak' /><br class='BrEak' /><br class='BrEak' /><br class='BrEak' />

      <a href="https://bookmygarage.com/garage/deymercspecialist/b661ns/"><img height="79" id="Image1" onMouseOut="MM_swapImgRestore()"
          onMouseOver="MM_swapImage('Image1','','../images/animations/strip1.gif',1)" src="images/animations/services22.png"
          width="1085" /></a>
      <a href="resource/contactus.html"><img height="78" id="Image2" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','../images/animations/strip2.gif',1)"
          src="images/animations/services23.png" width="1085" /></a>
      <a href="https://bookmygarage.com/garage/deymercspecialist/b661ns/"><img height="80" id="Image3" onMouseOut="MM_swapImgRestore()"
          onMouseOver="MM_swapImage('Image3','','../images/animations/strip3.gif',1)" src="images/animations/services24.png"
          width="1085" /></a>

      <a href="https://bookmygarage.com/garage/deymercspecialist/b661ns/" id='Image1-Text-a'>
        <div id='Image1-Text'>
          FREE COLLECTION AND DELIVERY
          <span class='stot'>Subject to terms and conditions</span>
          <span>Click here for contact details &gt;&gt;</span>
        </div>
      </a>
      <a href="resource/contactus.html" id='Image2-Text-a'>

        <img height="78" id="Image2" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','../images/animations/strip2.gif',1)"
          src="images/animations/services23.png" width="1085" />

        <div id='Image2-Text'>
          FREE DIAGNOSTICS
          <span class='stot'>Subject to terms and conditions</span>
          <span>Click here for contact details &gt;&gt;</span>
        </div>
      </a>
      <a href="https://bookmygarage.com/garage/deymercspecialist/b661ns/" id='Image3-Text-a'>

        <img height="80" id="Image3" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','../images/animations/strip3.gif',1)"
          src="images/animations/services24.png" width="1085" />

        <div id='Image3-Text'>
          FREE MINI VALET ON ALL SERVICES
          <span class='stot'>Subject to terms and conditions</span>
          <span>Click here for contact details &gt;&gt;</span>
        </div>
      </a>

      <div id="bottompage">
        <div style="padding:13px;">
          <table width="764" height="334" border="0px" style="letter-spacing:2px;font-family:Myriad Pro;">
            <tr>
              <td width="754" height="39">
                <div style="color:#1dbee6; font-family: Myriad Pro; ">Contact us Today for a Quotation</div>
                <div style="color:#444444;font-family:Myriad Pro; ">Whether you require our Sales, Repairs or
                  Diagnostics Specialists
                  our team here at the Dey Merc Specialist Centre are always happy to assist you.<br /><a href="https://bookmygarage.com/garage/deymercspecialist/b661ns/">Click
                    Here To Book Online</a>
                  <div id="loweremails">
                    <font color="#1dbee6"><br />Email Us Today</font><br />

                    <p>
                      <font color="#1dbee6">Sales:</font>
                      Sales@deymercspecialist.com
                      <font color="#1dbee6">
                        <p>Diagnostics:
                      </font>
                      Diagnostics@deymercspecialist.com
                      <font color="#1dbee6">
                        <p>General Enquiries:
                      </font>
                      Enquiries@deymercspecialist.com
                  </div>

                  <p>
                    <font color="#1dbee6">Call Us Today: </font>0121 565 5116<br />
                    <font color="#1dbee6">Mobile: </font> 07747 014914<br />
                    <font color="#1dbee6">Web: </font> www.deymercspecialist.com
                  </p>
                  <p>
                    <font color="#1dbee6">Visit Our Centre</font><br />
                    Dey Merc Specialist<br />
                    Ruskin Place, <br />
                    Oldbury Road,<br />
                    Birmingham<br />
                    B66 1NS
                  </p>
                </div>
              <td width="10"></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="menubottom"><img src="images/buttons/bottommenu/whowearebottomlit.png" /><a href="resource/diagnostics.html"
          onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('DiagnosticsButton11','','images/buttons/bottommenu/diagnosticsbottomlit.png',1)"><img
            src="images/buttons/bottommenu/diagnosticsbottom.png" alt="Diagnostics" name="DiagnosticsButton11" border="0"
            id="DiagnosticsButton11" /></a><a href="resource/contractwork.html" onmouseout="MM_swapImgRestore()"
          onmouseover="MM_swapImage('ContractButton11','','images/buttons/bottommenu/contractworkbottomlit.png',1)"><img
            src="images/buttons/bottommenu/contractworkbottom.png" alt="Contract Work" name="ContractButton11" border="0"
            id="ContractButton11" /></a><a href="resource/bodywork.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('BodyWorkButton11','','images/buttons/bottommenu/bodyworkbottomlit.png',1)"><img
            src="images/buttons/bottommenu/bodyworkbottom.png" alt="Body Work " name="BodyWorkButton11" border="0" id="BodyWorkButton11" /></a><a
          href="resource/lcvvans.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('LCV Vans Button 11','','images/buttons/bottommenu/lcvvansbottomlit.png',1)"><img
            src="images/buttons/bottommenu/lcvvansbottom.png" alt="LCVVNS " name="LCV Vans Button 11" border="0" id="LCV Vans Button 11" /></a><a
          href="resource/howtofindus.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Find Us Button 11','','images/buttons/bottommenu/howtofindusbottomlit.png',1)"><img
            src="images/buttons/bottommenu/howtofindusbottom.png" alt="How To Find US" name="Find Us Button 11" border="0"
            id="FindUs11" /></a><a href="resource/smartrepairs.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Smart Repairs Button 11','','images/buttons/bottommenu/smartrepairsbottomlit.png',1)"><img
            src="images/buttons/bottommenu/smartrepairsbottom.png" alt="Smart Repairs" name="Smart Repairs Button 11"
            border="0" id="SmartRepairs111" /></a></div>
      <div id="footer" style="color:#CCC; padding-top:39px; text-align:center;font-family: Myriad Pro;">
        Copyright &copy; 2014 - Dey Merc Specialist All Rights Reserved
        <p>
          <font size="-1">Please be assured that Dey Mercedes or any of its trading styles, does not have any
            affiliation and does not imply any affiliation or associated with the Mercedes-Benz franchise network in
            the UK or Europe. Dey Merc Specialist or Dey Mercedes is an independent company that offers Mercedes
            repairs &amp; servicing for private or fleet customers. By entering and using site, you aknowledge that<br />
            you fully understand that we are not associated with the Mercedes-Benz franchise network.
      </div>

    </div>
  </div>

</body>

</html>